/*
    Palette
    #3E065F
    #700B97
    #8E05C2
*/

#namehead {
    background-color: #3E065F;
    border: 3px solid #700B97;
    border-radius: 20px;
    color: white;
    font-size: 200%;
    padding: 10px;
    width: fit-content;
}

.mycustomrow {
    background-color: #3E065F;
    height: 400px;
}