#root {
    background-color: slategray;
}

#mainheading {
    text-align: center;
}

#secondheading {
    text-align: center;
}

.paragraphs {
    text-align: center;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    font-size: 2em;
    margin: 10px;
}

.social {
    border-bottom: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 4em;
}

.sociallinks {
    text-align: center;
}

body {
    font-size: 100%;
}