.mainheading {
    text-align: center;
}

.secondheading {
    text-align: center;
}

.mainparagraphs {
    text-align: center;
    border: 1px solid gray;
    font-size: 2em;
}

body {
    font-size: 100%;
}